.headline {
    text-align: center;
    padding-bottom: 12%;
}

.headline__title {
    margin-bottom: 17px;
    font-size: 48px;
    text-transform: uppercase;
    color: $black;
}

.headline__subtitle {
    padding: 0 25%;
}
